div.logo{
    background-image: url(E33BD9CA-E199-4141-A9B3-931DBEC7DB77.jpg);
    background-size: cover;
    height: 160px;
    background-repeat: no-repeat;
    width: 100%!important;
    margin-bottom: 20px!important;
    
}


body{
    background-color: #0A4A39!important;
}

.btns{
    cursor: pointer;
    right: 48px!important;
   
}


.Drinks, .Menu, .ig, .fb{
    color: White;
    width: 200px!important;
    border: none;
    border-radius: 10px;
    background-color: #dba866;

}

.ig{
    background-image: linear-gradient(to right ,#feda75 , #fa7e1e , #d62976 , #962fbf , #4f5bd5 );
}

.fb{
    background-color: #036ee4;
}

a{
    text-decoration: none;
    color: white!important;
    text-align: center;
    
}
a:hover{
    text-decoration: none!important;


}

.Drinks{
    margin-top: 10px;
}

button a{
    display: block;
    width: 100%!important;
}

li{
    color: white;
}

ul{
    color: #dba866;
}
.back{
    width: 100%!important;  
}

.footer{
    
    display: block;
    height: 100px;
    width: 100%;
}

